@charset "utf-8";
html {
  font-size: 100%;
}
body {
  color: #151515;
  padding: 20px 0 0px 0;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
h1 {
  font-size: 0.7rem;
  font-weight: normal;
}
h2 {
  font-weight: normal;
  border-bottom: solid 4px skyblue;
  display: inline-block;
  color: gray;
  font-size: 1.75rem;
}
h3 {
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  padding: 40px 0 0 0;
  margin: 0 0 20px 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.wrapper {
  /* border: 1px solid green; */
  width: 960px;
  margin: 0 auto;
  padding: 15px 0 10px 0;
}
.wrapper00 {
  background-color: #47478d;
}
.wrapper11 {
  /* border: 1px solid green; */
  width: 100%;
  margin: center;
  background-image: url(../img/main_banner.jpeg);
  background-size: cover;
  background-color: #fff;
}
.wrapper22 {
  margin: 0 auto;
  width: 960px;
}
.wrapper22 div span {
  font-size: 1.5rem;
}
.wrapper33 {
  background-image: url(../img/sub_banner.jpg);
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: 520px;
  box-shadow: 4px 4px 4px gray;
  margin: 60px 0 0 0;
  position: relative;
}
.wrapper44 {
  margin: 70px 0 0 0;
  width: 100%;
  background: radial-gradient(whitesmoke,silver);
  height: 170px;
  position: relative;
}
.wrapper55 {
  /* border: 1px solid orange; */
  text-align: center;
  margin: 70px 0 0 0;
  width: 100%;
}
.wrapper66 {
  background-color: rgb(12, 121, 185);
  width: 100%;
  margin: 50px 0 0 0;
}

/* header00 */
.header00 {
  margin: 0 auto;
  /* border: pink solid 1px; */
  padding: 2px 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  width: 960px;
}

.header01 {
  padding: 2px 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #47478d;
  font-size: 0.7rem;
  width: 960px;
}
.header00 li {
  position:relative;
  padding-left:10px;
 list-style:none;
}
.header00 li:before {
  content:'\03e';
  position: absolute;
  left: 0px;
  font-weight: bold;
 }
.header00 a {
  color: #fff;
  transition: 1.0s ;
}
.header00 a:hover {
  opacity: 0.5;
  color: skyblue;
}
/* header11 */
.header11 {
  padding: 10px 2px 10px 2px;
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  margin: center;
}
.header12 {
  /* border: solid 1px blue; */
  padding: 5px;
}

.header14 {
  width: 550px;
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  
}
.header14_img1 {
  width: 200px;
  height: 36px;
}
.header14_img2 {
  width: 100px;
  height: 36px;
}
.header14_img3 {
  width: 202px;
  height: 36px;
}
.header14 a:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.header16 {
  /* border: 1px green solid; */
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  padding: 6px 10px;
}
.header16 a {
  color: #151515;
  padding-bottom: 5px;
  border-bottom: none;
}
.header16 a {
  transition: 1.0s ;
}
.header16 a:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid;
  opacity: 0.5;
  color: #006ad5;
}

/* main00 */
.main00 {
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 960px;
  height: 425px;
  /* border: 1px solid blue; */
  margin: 0 auto;
  
}
.main00 img {
  /* border: 1px solid purple; */
  width: 35%;
  margin: 40px;
}
.main00 p {
  position: absolute;
  top: 70%;
  left: 50%;
  /* border: 1px solid purple; */
  font-size: 0.8rem;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  margin:0;
  padding: 0;
  }
  .main11 {
    /* border: 1px yellow solid; */
    text-align: center;
    margin: 75px auto 0 auto;
  }
  .main12 {
    margin: 25px 0 0 0;
    /* border: red solid 1px; */
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .main13,
  .main14,
  .main15 {
    color: #fff;
    /* border: solid 1px green; */
    position: relative;
  }
  .main13 p {
    position: absolute;
    top: 70%;
    left: 15%;
    text-shadow: 2px 2px 2px rgba(30,30,30,1);
    -webkit-text-shadow: 2px 2px 2px rgba(30,30,30,1);
  }
  .main13 a,
  .main14 a,
  .main15 a {
    color: #fff;
    transition: 0.5s;
  }
  .main13 a:hover,
  .main14 a:hover,
  .main15 a:hover   {
    opacity: 0.5;
  }
  .main14 p {
    position: absolute;
    top: 70%;
    left: 18%;
    text-shadow: 2px 2px 2px rgba(30,30,30,1);
    -webkit-text-shadow: 2px 2px 2px rgba(30,30,30,1);
  }
  .main15 p {
    position: absolute;
    top: 70%;
    left: 28%;
    text-shadow: 2px 2px 2px rgba(30,30,30,1);
    -webkit-text-shadow: 2px 2px 2px rgba(30,30,30,1);
  }
  .main16 {
    width: 960px;
    display: inline-block;
    /* border: 1px purple solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .main16 h2 {
    line-height: 50px;
    padding: 0 0 10px 0;
    text-shadow: 1px 1px 1px rgb(219, 219, 219);
    -webkit-text-shadow: 1px 1px 1px rgba(219,219,219,1);
  }
  .main16 p {
    line-height: 40px;
    text-shadow: 1px 1px 1px rgb(219, 219, 219);
    -webkit-text-shadow: 1px 1px 1px rgba(219,219,219,1);
  }
  .main17 {
    margin: 70px 0 0 0;
    /* border: red solid 1px; */
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .main18,
  .main19 {
    color: #fff;
    /* border: solid 1px green; */
    position: relative;
    box-shadow: 2px 2px 2px gray;
  }
  .main17 span {
    position: absolute;
    top: 70%;
    left: 15%;
    text-shadow: 2px 2px 2px rgba(30,30,30,1);
    -webkit-text-shadow: 2px 2px 2px rgba(30,30,30,1);
  }
  .main18 a,
  .main19 a {
    color: #fff;
    transition: 0.5s;
  }
  .main18 a:hover,
  .main19 a:hover {
    opacity: 0.5;
  }
  .main18 span {
    font-size: 1.5rem;
    position: absolute;
    top: 82%;
    left: 35%;
    text-shadow: 2px 2px 2px rgba(30,30,30,1);
    -webkit-text-shadow: 2px 2px 2px rgba(30,30,30,1);
  }
  .main19 span {
    font-size: 1.5rem;
    position: absolute;
    top: 82%;
    left: 37%;
    text-shadow: 2px 2px 2px rgba(30,30,30,1);
    -webkit-text-shadow: 2px 2px 2px rgba(30,30,30,1);
  }
  .main20 {
    width:960px;
    /* border: 1px red solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main20 ul {
    display: flex;
    justify-content: space-between;
  }
  .main20 .btn {
    border-radius: 5px;
    border: solid 1px rgb(35, 74, 110);
    width: 280px;
    height: 60px;
    background: linear-gradient(white,whitesmoke);
    box-shadow: 4px 4px 4px gray;
  }
  .main20 a {
    color: rgb(35, 74, 110);
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .main20 a:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
  .main22 {
    position: relative;
  }
  .main22 span {
    color: rgb(35, 74, 110);
    font-weight: bold;
    position: absolute;
    top: 30%;
    padding: 0 0 0 250px;
    display: flex;
    justify-content: space-between;
  }
  .main23 {
    margin: 30px auto;
    width: 960px;
    /* border: 1px blue solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  
  .main23 dt {
    /* border: 1px red solid; */
    width: 20%;
    border-bottom: solid 1px gray;
    padding: 35px 0;
    text-align: left;
    font-size: 0.9rem;
    color: gray;
    
  }
  .main23 dd {
    /* border: 1px green solid; */
    width: 80%;
    border-bottom: solid 1px gray;
    padding: 35px 0;
    text-align: left;
    font-size: 0.9rem;
  }
  .main23 a {
    color: #151515;
    text-decoration: underline;
  }
  .main23 a:hover {
    text-decoration: none;
  }
  .main24 a:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
  .main25 {
    margin: 0 auto;
    width: 960px;
    height: 110px;
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    
  }
  .main25 div:first-child {
    border-right: 1px solid #fff;
    width: 390px;
  }
  .main25 a:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
  .footer00 {
    background-color:rgb(14, 52, 122);
    width: 100%;
    height: 170px;
    padding: 30px 0 0 0;
    font-size: 0.75rem;
    color: #fff;
  }
  .footer11 {
    margin: 0 auto;
    /* border: solid red 1px; */
    width: 960px;
    display: flex;
    justify-content: space-between;
  }
  .footer11 img {
    margin: 0 0 5px 0;
  }
  .footer11 div a:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
  .footer11 div ul a {
    color: #fff;
    text-decoration: none;
  }
  .footer11 div ul a:hover {
    text-decoration: underline;
  }
  .footer12 ul {
    margin: 25px 0 20px 0; 
    width: 500px;
    /* border: 1px yellow solid; */
    display: flex;
    justify-content: space-between;
  }
  .footer12 ul li {
    width: calc(100% / 4);
    position: relative;
  }

  .footer12 ul li:before{
    content:'\03e';
    position: absolute;
    left: -15px;
    font-weight: bold;
   }
   



   @media screen and (max-width:960px) {
    body {
      margin: 0 auto;
    }
    
    .header00 {
      width: 375px;
      display: flex;
      flex-direction: column;
      padding: 5px 10px 5px 10px;
    }
    .header00 li {
      text-align: right;
      padding: 0 10px 0 0;
    }
    .header00 li:before {
      content:'\03e';
      position: absolute;
      left: 280px;
      font-weight: bold;
     }
    .header11 {
      width: 375px;
      display: flex;
      flex-direction: column;
    }
    .header12 {
      text-align: center;
    }
    .header14 {
      width: 375px;
    }
    .header14  img {
      border: solid #fff 1px;
      width: calc(100% / 1.1);
      height: calc(100% / 1.1);
      display: flex;
      justify-content: space-between;
    }
    .header16 {
      font-size: 0.75rem;
    }
    
    .main00 {
      position: relative;
      vertical-align: middle;
      text-align: center;
      width: 375px;
      height: 375px;
      border: 1px solid blue;
      margin: 0 auto;
      
    }
    .main00 img {
      /* border: 1px solid purple; */
      width: 80%;
    }
    .main00 p {
      /* border: 1px solid purple; */
      width: 280px;
      } 
    .wrapper22 {
        width: 375px;
      }
    .main11 {
      border: 1px solid purple;
      width: 375px;
    }
    .main12 {
      margin: center;
      width: 375px;
      display: flex;
      flex-direction: column;
    }
    .main12 li {
      margin: 20px 0 20px 0;
    }
    
    .main13 p {
      position: absolute;
      top: 70%;
      left: 25%;
    }
    .main14 p {
      position: absolute;
      top: 70%;
      left: 27%;
    }
    .main15 p {
      position: absolute;
      top: 70%;
      left: 33%;
    }
.main16 {
  width: 375px;
}
.main16 h2 {
  padding: 10px 5px 10px 5px;
}
.main16 p {
  padding: 0 50px;
}
.main17 {
  display: flex;
flex-direction: column;
}
.main17 li {
margin: 20px 0 20px 0;
}
.main20  {
  
    width:280px;
}
.main20 ul {
  
  display: flex;
flex-direction: column;
}
.main22 li {
  
  margin: 20px 0 0 0;
}
.main20 span {
  display: none;
}
.wrapper44 {
  height: 300px;
}

.main23 {
  border: 1px solid purple;
  width:375px;
  display: flex;
flex-direction: column;
}

.main23 dt {
  /* border: 1px red solid; */
  font-size: 0.8rem;
  padding: 10px 0;
  border-bottom: 1px gray;
}
.main23 dd {
  /* border: 1px green solid; */
  font-size: 0.8rem;
  padding: 10px 0;
  
}
.main25 {
  width: 375px;
  height: 80px;
  display: flex;
flex-direction: column;
}
.wrapper66 {
  width: 375;
  height: 250px;
}
.wrapper66 h3 {
  margin: 0 auto;
  /* border: 1px yellow solid; */
  width: 375px;
  padding: 20px;
}
.main25 img {
  width: calc(100% / 1.5);
}
.main25 div:first-child {
  border-right: none;
  width: 375px;
  text-align: center;
  }
.main25 div:last-child {
  text-align: center;
    }
.footer00 {
  height: 220px;
}
.footer11 {
  width: 375px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.footer11 img{
 width: calc(100% / 1.5);
}
.footer12 ul {
  font-size: 0.6rem;
  border: 1px red solid;
  width: 350px;
  margin: 10px 0 10px 0; 
}

}
.footer12 ul li:before{
  content:'';
 }


}


  }